.button {
    cursor: pointer;
    background-color: #ffffff;
    &_shop {
        margin-top: 66px;
        width: 160px;
        height: 46px;
        border: 3px solid #f2f2f2;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        background-color: $main-color;  
        color: #ffffff;
    }
    &_orange {
        width: 46px;
        height: 18px;
        border: 1px solid $main-color;
        border-radius: 4px;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        color: $main-color;
        margin-bottom: 12px; 
    }

    &_grey {
        width: 46px;
        height: 18px;
        border: 1px solid #bababa;
        border-radius: 4px;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        color: #bababa;
    }
    
}